.Header{
    height: 50px;
    border-bottom: 1px solid #aaaaaa;
}
.Header-bread{
    float: left;
    margin-left: 20px;
    height: 100%;
    line-height: 50px;
}
.Header-avt{
    height: 30px;
    width: 30px;
    border-radius: 4px;
    background: #000;
    float: right;
    margin: 10px;
}