/* 搜索框 */
.search{
    width: 1230px;
    margin: 0 auto;
    position: relative;
}
.search-wrapper{
    width: 100%;
    line-height: 32px; 
}
.search-logo{
    width: 290px;
    height: 130px;
    position: absolute;
    left:-46px;
    
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.search-form>form{
    width: 635px;
    margin: 0 auto;
    padding: 38px 0 0;
   
}
input{
    float: left;
    width: 491px;
    height: 22px;
    padding: 5px 3px 5px 5px;
    border: 2px solid #ff0036;
}
button{
    float: left;
    width: 132px;
    height: 36px;
    background: #ff0036;
    color: #fff;
    border: 2px solid #ff0036;
}
.search-list>a{
    color: #999999;
    font-size: 14px;
    padding: 0 12px;
    border-right: 1px solid #999999;
}
.search-list>a:first-child{
    margin-left: 285px;
}
.search-list>a:last-child{
    border: none;
}
.search-list>.search-special{
    color: #ff0036;
}